@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Unbounded:wght@700&display=swap');

:root{
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --cor-de-fundo: #0E1014;
    --cor-principal: #FFFFFF;
    --fonte-principal: "Poppins", sans-serif;
    --fonte-titulo: "Unbounded", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
}

.cabecalho{
    margin: 3rem 0 3rem 8rem;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-titulo{
    font-family: var(--fonte-titulo);
    font-size: 64px;
    font-weight: 700;
}

.destaque-titulo{
    color: var(--roxo-destaque);
}

.container-texto{
    font-size: 24px;
    font-weight: 400;
    margin: 2rem 0 2.5rem 0;
    max-width: 55%;
}

.container-botao{
    font-size: 24px;
    font-weight: 600;
    background-color: var(--roxo-destaque);
    color: var(--cor-principal);
    text-decoration: none;
    padding: 1rem 3.5rem;
    border-radius: 36px;
}

.container-imagem{
    margin-top: 2.5rem;
}

.container-botao:hover{
    background-color: var(--roxo-hover);
}

@media (max-width: 768px) {
    .cabecalho{
        margin-left: 4rem;
    }
    
    .container-texto{
        max-width: 85%;
    }

    .container-imagem{
        max-width: 100vw;
    }
}

@media (max-width: 375px) {
    .cabecalho{
        margin-left: 1.5rem;
    }

    .container-titulo{
        max-width: 90%;
        font-size: 40px;
    }

     .container-texto{
        font-size: 20px;
        max-width: 90%;
    }

    .container-botao{
        font-size: 20px;
        padding: 1rem 1.5rem;
    }

    .container-imagem{
        max-width: 100vw;
    }
}
